# WARNING: When you rename a workflow filename, remember to update the Trusted Publishing settings as well.
# https://www.npmjs.com/package/jest-md-dashboard/access
# ref. https://docs.npmjs.com/trusted-publishers
name: release-and-publish
on:
  push:
    branches:
      - main

jobs:
  release:
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@e4dc86ba9405554aeba3c6bb2d169500e7d3b4ee # v4
        id: release

  # https://github.com/google-github-actions/release-please-action#automating-publication-to-npm
  publish:
    permissions:
      contents: read
      id-token: write # Required for OIDC authn and npm provenance
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v2
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
      # Ensure npm 11.5.1 or later is installed
      # ref. https://docs.npmjs.com/trusted-publishers#github-actions-configuration
      - run: npm install -g npm@latest
      - run: pnpm install
      - run: pnpm build
      - run: git status
      - run: pnpm publish --access public
        env:
          # https://docs.npmjs.com/generating-provenance-statements#using-third-party-package-publishing-tools
          NPM_CONFIG_PROVENANCE: true
