name: test
on:
  push:
  pull_request:

jobs:
  test:
    name: Test ${{ matrix.os }} ${{ matrix.node-version }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        node-version: [14.x, 16.x, 18.x]
    runs-on: ${{ matrix.os }}
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: "${{ matrix.node-version }}"
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn test:generate-dashboard
      - run: cat test-dashboard.md | tee -a $GITHUB_STEP_SUMMARY
        if: always()
      - uses: codecov/codecov-action@e0b68c6749509c5f83f984dd99a76a1c1a231044 # v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
