name: test
on:
  push:
  pull_request:

jobs:
  test:
    name: Test ${{ matrix.os }} ${{ matrix.node-version }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        node-version: [18.x, 20.x]
    runs-on: ${{ matrix.os }}
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: "${{ matrix.node-version }}"
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm build
      - run: pnpm test:generate-dashboard
      - run: cat test-dashboard.md | tee -a $GITHUB_STEP_SUMMARY
        if: always()
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
